import Foundation

protocol {{pascalCase .Name}}ServiceProtocol {
    func fetch{{pascalCase .Name}}() async throws -> {{pascalCase .Name}}DTO
}

class {{pascalCase .Name}}Service: {{pascalCase .Name}}ServiceProtocol {
    private let urlSession: URLSession
    
    init(urlSession: URLSession = .shared) {
        self.urlSession = urlSession
    }
    
    func fetch{{pascalCase .Name}}() async throws -> {{pascalCase .Name}}DTO {
        // TODO: Replace with actual endpoint
        let url = URL(string: "https://api.example.com/{{snakeCase .Name}}")!
        let (data, _) = try await urlSession.data(from: url)
        return try JSONDecoder().decode({{pascalCase .Name}}DTO.self, from: data)
    }
}
